@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Learning Web Development";
    ViewBag.h2 = "Sheeza Rohail's First Web App Assignment";
}
<body>
    <p>
        <img src="~/img/WhatsApp Image 2020-11-16 at 2.20.25 PM.jpeg" style="width:400px;height:500px" />
        I aim to acquire multiple different skills from the 413 class.
        I hope to Develop time management expertise within intense development projects.
        Learn enterprise system development principles and patterns.
        Use best practices models and methods of enterprise development, such as business objects, data layers, and object-relational mappings to develop the project.
        Learn to develop information systems within group settings, develop a complex information system clear through implementation and testing.
        Additionally work as leaders and as group members in development teams.
    </p>
    <br />

    <h3 style="color:hotpink">My Job Preferences:</h3>
    <ul>
        <li>Project Manager</li>
        <li>Product Manager</li>
        <li>Tech Consultant</li>
    </ul>
    
</body>
